@tailwind base;
@tailwind components;
@tailwind utilities;





* {
    font-family: 'Inter', sans-serif;
}





.app {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #283027;
    overflow-x: hidden;
}